# Supabase Configuration
SUPABASE_URL=https://zehusjrjgujgablecrke.supabase.co/rest/v1/
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InplaHVzanJqZ3VqZ2FibGVjcmtlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEwNzI0NDksImV4cCI6MjA5NjY0ODQ0OX0.I-gUBvu3K0lUn3Op0MUbuEvTZ-bekAc77uwoNUrtcH4
